<a class="navbar-brand"
{% if user.is_authenticated %}
href=""
{% else %}
href=""
{% endif %}>

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>hall-wall</title>
  </head>
  <body>

  <div class="container">
  <nav class="navbar fixed-top  navbar-expand-lg navbar-dark" style="background-color: mediumpurple">
      <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand"
    {% if user.is_authenticated %}
    href=""
    {% else %}
    href=""
    {% endif %}></a>


        <a
            href="#"
            class="navbar-brand mb-0 h1">
                StudyCamp
        </a>
        <button
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        class="navbar-toggler"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="collapse navbar-collapse"
            id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="{% url 'post-list' %}" class="nav-link">
                        Hall-Wall
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="{% url 'products' %}" class="nav-link">
                        MarketPlace
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link
                    dropdown-toggle"
                    id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    >
                       others
                    </a>
                    <ul class="dropdown-menu"
                    aria-labelledby="navbarDropdown">
                        <li><a href="{% url 'profile' user.profile.pk %}"
                        class="dropdown-item">Profile</a></li>
                        <li><a href="{% url 'contact' %}"
                        class="dropdown-item">Contact</a></li>
                        <li><a href="{% url 'logout' %}"
                        class="dropdown-item">Log-out</a></li>


                    </ul>
                </li>

            </ul>
        </div>
      <form class="d-flex" method="GET" action="{% url 'profile-search' %}">
        <div class="input-group">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="
        basic-addon1" name="query" value="{{ request.GET.query }}">
        <button style="border: none; background-color: transparent; box-shadow: none" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </form>
      </div>
    </nav>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  </body>
</html>






