<form action="{% url 'register' %}" method="post">
<form action="{% url 'login' %}" method="post">
{% csrf_token %}
{% load static %}

<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.rtl.min.css" integrity="sha384-OXTEbYDqaX2ZY/BOaZV/yFGChYHtrXH2nyXJ372n2Y8abBhrqacCEe+3qhSHtLjy" crossorigin="anonymous">

    <title>StudyCamp</title>
  </head>
  <body>

    <img src="{% static 'img/anime.jpg' %}" class="center">

  <div class="text-center">
    <h1>Welcome to StudyCamp</h1>

      <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-black"></h1>
        <p class="leading-relaxed mb-8">Description ng StudyCamp</p>
        <a class="flex justify-center">
        <button class="inline-flex text-black bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg" type="submit" name='mybtn1' value={{register_path}}>Register</button>
        <button class="ml-4 inline-flex text-gray-400 bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg" type="submit" name='mybtn2' value={{login_path}}>Login</button>
      </div>
    </div>
  </div>
</section>

  </body>
</html>